{% extends "base.html" %}

{% block title %}Flask Template Example{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
      <p>My string: {{my_string}}</p>
      <p>Value from the list: {{my_list[3]}}</p>
      <p>Loop through the list:</p>
      <ul>
        {% for n in my_list %}
        <li>{{n}}</li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}
